<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input">Enter search</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter key...!">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>